{% extends 'base.html' %}
{% block css_style %}
    p{

        display:inline;

    }
{% endblock %}
{% block content %}
    <div id="fp">
        &emsp;<p style="font-size:25px;"><b>社交工程學(Social Engineering)</b></p><br><br>
        &emsp;<p>在電腦科學，社交工程指的是通過與他人的合法交流，來使其心理受到影響，做出某些動作或者是透露一些機密資訊的方式。這通常被認為是欺詐他人以收集資訊、行騙和入侵電腦系統的行為。</p><br>
        &emsp;<p>所有社交工程攻擊都建立在使人決斷而產生認知偏差的基礎。有時候這些偏差被稱為「人類硬體漏洞」，足以產生眾多攻擊方式，其中一些包括：</p><br><br>
        &emsp;<p style="font-size:25px;">手段</p><br><br>
        &emsp;&emsp;&emsp;<p>• 假託</p><br>
        &emsp;&emsp;&emsp;<p>• 調虎離山</p><br>
        &emsp;&emsp;&emsp;<p>• 線上聊天(色情) / 電話釣魚</p><br>
        &emsp;&emsp;&emsp;<p>• 下餌</p><br>
        &emsp;&emsp;&emsp;<p>• 等價交換</p><br>
        &emsp;&emsp;&emsp;<p>• 同情心</p><br>
        &emsp;&emsp;&emsp;<p>• 尾隨</p><br><br>
        &emsp;<p style="font-size:25px;">社會工程學的演進</p><br><br>
        &emsp;<p>雖然社會工程學已經流傳多年，但仍一再被利用，並且不斷演進。各類型的網路犯罪和資安威脅，都會使用社會工程學的技巧，尤其是在<b>目標式攻擊</b>中使用的頻率最高。</p><br>
        &emsp;<p>在以前，網路罪犯只會利用標題聳動的全球性事件或新聞 (例如世界盃足球賽或情人節等) 來引誘使用者。但現在很多犯罪手法也會搭配社會工程學技巧。</p><br><br>
        &emsp;&emsp;&emsp;<p><b style="color: red">釣魚式攻擊 (Phishing attack) : </b>以信件作為媒介的釣魚信件(Phishing emails)，偽裝成來自受害者信任的來源(公司內部人員、銀行員、親朋好友) 在信件中夾帶惡意程式或釣魚網址，要求或引誘使用者開啟文件、瀏覽釣魚網站、提供個資或帳號密碼等行為。</p><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;<p> 以網頁作為媒介的釣魚網站(Phishing websites)，提供了一個偽造的合法網站，去引誘使用者進入並洩漏資料，網頁內容通常會模仿帳號登入頁面，也有搭配釣魚信件的內容來誘導使用者將帳號密碼洩漏，</p><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; <p>有別於模仿合法網站的原創性釣魚網站，也就是不靠模仿來誤導使用者輸入。</p><br><br>
        &emsp;&emsp;&emsp;<p><b style="color: red">電腦蠕蟲 (Computer worm) : </b>與電腦病毒相似，是一種能夠自我複製的電腦程式。與電腦病毒不同的是，電腦蠕蟲不需要附在別的程式內，可能不用使用者介入操作也能自我複製或執行。 電腦蠕蟲未必會直接破壞被感染的系統，卻幾乎都對網路有害。</p><br>
        &emsp;&emsp;&emsp;<p><b style="color: red">郵件炸彈 (Mail bomb): </b>郵件炸彈是一種可以對收件人造成極大困擾及威脅的手法! 因為信箱容量是有限的，如果收件者在短時間內，一次收到千萬封郵件，使其郵箱爆滿，無法接收到重要郵件的訊息，很容易的這個郵箱就失去用途了!</p><br><br>
        &emsp;<p>參考資料: </p><br><br>
        &emsp;<p>維基百科: </p>
        <a href="https://zh.wikipedia.org/wiki/%E7%A4%BE%E4%BC%9A%E5%B7%A5%E7%A8%8B%E5%AD%A6">https://zh.wikipedia.org/wiki/%E7%A4%BE%E4%BC%9A%E5%B7%A5%E7%A8%8B%E5%AD%A6</a><br><br>
        &emsp;<p>臺灣大學計算機及資訊網路中心: </p>
        <a href="http://www.cc.ntu.edu.tw/chinese/epaper/0040/20170320_4009.html">http://www.cc.ntu.edu.tw/chinese/epaper/0040/20170320_4009.html</a><br><br>






    </div>
{% endblock %}